.header-jumpbotron {
    margin-bottom: 0px;
}

.font1 {
    font-size: 19px;
}

.container_1 {
    margin-left: 15px;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 0px;
}

.container_2 {
    margin-top: -25px;
}

.icon-danh-muc {
    margin: 8px;
}

.flex-column-custom {
    margin-left: -15px;
}

.nav-link {
    color: black;
}

.footer {
    margin-bottom: 0px;
    height: 30px;
}