form.searchbar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.searchbar button {
    float: left;
    width: 20%;
    padding: 10px;
    background: rgb(59, 52, 52);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin: 8px 0;
}

form.searchbar button:hover {
    background: #4CAF50;
}

form.searchbar::after {
    content: "";
    clear: both;
    display: table;
}