<div class="container-fluid container_1">
    <div class="row">
        <div class="col-sm-2 font1">

            <ul class="nav nav-pills flex-column flex-column-custom">
                <li class="list-group-item">
                    <p><i class="fas fa-bars"></i><strong class="icon-danh-muc">DANH MỤC MÔN HỌC</strong></p>
                </li>
                <li class="nav-item">
                    <a class="list-group-item list-group-item-action" href="#">Lập trình Android nâng cao</a>
                </li>

                <li class="nav-item">
                    <a class="list-group-item list-group-item-action" href="#">Xây dựng trang web</a>
                </li>

                <li class="nav-item">
                    <a class="list-group-item list-group-item-action" href="#">Cơ sở dữ liệu</a>
                </li>

                <li class="nav-item">
                    <a class="list-group-item list-group-item-action" href="#">SQL Server</a>
                </li>

                <li class="nav-item">
                    <a class="list-group-item list-group-item-action" href="#">Internet Marketing</a>
                </li>

                <li class="nav-item">
                    <a class="list-group-item list-group-item-action" href="#">Lập trình hướng đối tượng với Java</a>
                </li>

                <li class="nav-item">
                    <a class="list-group-item list-group-item-action" href="#">Lập trình PHP</a>
                </li>

                <li class="nav-item">
                    <a class="list-group-item list-group-item-action" href="#">Điện toán đám mây</a>
                </li>

                <li class="nav-item">
                    <a class="list-group-item list-group-item-action" href="#">Lập trình Android cơ bản</a>
                </li>

                <li class="nav-item">
                    <a class="list-group-item list-group-item-action" href="#">Lập trình game 2D</a>
                </li>

                <li class="nav-item">
                    <a class="list-group-item list-group-item-action" href="#">Thiết kế giao diện trên Android</a>
                </li>

                <li class="nav-item">
                    <a class="list-group-item list-group-item-action" href="#">Thiết kế web cho điện thoại di động</a>
                </li>

                <li class="nav-item">
                    <a class="list-group-item list-group-item-action" href="#">Lập trình ASP.NET</a>
                </li>
            </ul>
        </div>

        <!-- Show Subject-->
        <div class="col-sm-10">
            <div class="container container_2" ng-controller="showSubjectCtrl">
                <div class="row">

                    <div class="col-md-4 col-sm-6 col-xs-12 subject-item" ng-repeat="subject in subjects | limitTo:numberDisplay track by $index">
                        <div class="card">
                            <img class="card-img-top" src="assets/img/logos/{{subject.Logo}}" alt="">
                            <div class="card-body subject-content-item">
                                <h5 class="card-title">{{subject.Name}}</h5>

                            </div>
                        </div>
                    </div>
                    <!--Page Controller-->
                </div>
                <div class="row justify-content-center">
                    <button type="button" class="btn btn-light " ng-click="first()"><i class="fa fa-angle-double-left"></i> First</button>
                    <button type="button" class="btn btn-light " ng-click="prev()"><i class="fa fa-angle-left"></i> Prev</button>
                    <button type="button" class="btn btn-light " ng-click="nextSubject()">Next <i class="fa fa-angle-right"></i></button>
                    <button type="button" class="btn btn-light " ng-click="last()">Last <i class="fa fa-angle-double-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>