<div class="animated fadeIn">
    <div class="card">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Mã số</th>
                    <th scope="col">Họ Tên</th>
                    <th scope="col">SĐT</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Nguyễn Văn A</td>
                    <td>015343123</td>
                    <td>dsadadad@gmail.com</td>
                    <td class="row">
                        <a class="nav-link" title="Edit" href="#">
                            <img src="assets/svg/pencil.svg" />
                        </a>
                        <a class="nav-link" title="Delete" href="#">
                            <img src="assets/svg/trashcan.svg" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Nguyễn Văn A</td>
                    <td>015343123</td>
                    <td>dsadadad@gmail.com</td>
                    <td class="row">
                        <a class="nav-link" title="Edit" href="#">
                            <img src="assets/svg/pencil.svg" />
                        </a>
                        <a class="nav-link" title="Delete" href="#">
                            <img src="assets/svg/trashcan.svg" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Nguyễn Văn A</td>
                    <td>015343123</td>
                    <td>dsadadad@gmail.com</td>
                    <td class="row">
                        <a class="nav-link" title="Edit" href="#">
                            <img src="assets/svg/pencil.svg" />
                        </a>
                        <a class="nav-link" title="Delete" href="#">
                            <img src="assets/svg/trashcan.svg" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Nguyễn Văn A</td>
                    <td>015343123</td>
                    <td>dsadadad@gmail.com</td>
                    <td class="row">
                        <a class="nav-link" title="Edit" href="#">
                            <img src="assets/svg/pencil.svg" />
                        </a>
                        <a class="nav-link" title="Delete" href="#">
                            <img src="assets/svg/trashcan.svg" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Nguyễn Văn A</td>
                    <td>015343123</td>
                    <td>dsadadad@gmail.com</td>
                    <td class="row">
                        <a class="nav-link" title="Edit" href="#">
                            <img src="assets/svg/pencil.svg" />
                        </a>
                        <a class="nav-link" title="Delete" href="#">
                            <img src="assets/svg/trashcan.svg" />
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>